<ion-content padding *ngIf="topPlayers">
  <div class="podometre-container">
    <div class="podometre" *ngIf="usuari">
      <ion-avatar>
        <img [src]="usuari.image">
      </ion-avatar>
      <h3 class="text-center nom">{{ usuari.nom }}</h3>
      <p><a class="logout" (click)="logout()">Logout</a></p>
      <div class="passes-container">
        <span class="passes">{{ usuari.passes }}</span>
        <ion-icon class="walk" name="walk"></ion-icon>
      </div>
    </div>

    <hr>
    <div class="leaderboard">
      <ion-avatar class="top-1">
        <p>500</p>
        <img [src]="topPlayers[0].image">
      </ion-avatar>
      <ion-avatar class="top-2">
        <p>430</p>
        <img [src]="topPlayers[1].image">
      </ion-avatar>
      <ion-avatar class="top-3">
        <p>320</p>
        <img [src]="topPlayers[2].image">
      </ion-avatar>
      <img class="podium" src="/assets/imgs/podio.svg">
    </div>
    <div class="footer">
        <img class="btn-leaderboard" src="/assets/imgs/leaderboard.svg">
    </div>
  </div>
</ion-content>